
  <!-- Footer -->
  <footer class="footer text-right">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  2016 © Daydash.co.
              </div>
          </div>
      </div>
  </footer>
  <!-- End Footer -->

<% if App.is_management? %>
  <%= stylesheet_link_tag    'management/core', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'management/core', 'data-turbolinks-track' => true %>
<% else %>
  <%= stylesheet_link_tag    'client/core', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'client/core', 'data-turbolinks-track' => true %>
<% end %>
