<script> //Init Function
  function initDatetimepicker(element) {
    $('.datepicker', element).datetimepicker({
      format: 'DD/MM/YYYY HH:mm'
    });

    $('.event-time', element).on("dp.change", function (e) {
      element.find('.end-time').data("DateTimePicker").minDate(e.date);
    });

    return false;
  }

  function onTicketAdd(button) {
    var template = $('#new-ticket-template').html();
    Mustache.parse(template);
    var rendered = Mustache.render(template, {});
    var element = $(rendered);
    $('.ticket-list tbody').append(element);

    initDatetimepicker(element);

    return false;
  }

  function onTicketDelete(button) {
    var element = $(button).parents('.ticket');
    console.log(element);
    element.remove();

    return false;
  }
</script>

<!-- Template -->
<script id="new-ticket-template" type="x-tmpl-mustache">
  <tr class="ticket new-ticket">
    <td><input class="form-control" type="text" name="new_ticket_names[]" value="" placeholder="eg. General, VIP" /></td>
    <td><input class="form-control" type="number" name="new_ticket_totals[]" value="" /></td>
    <td><input class="form-control" type="number" name="new_ticket_prices[]" value="" /></td>

    <td width="200">
      <div class="form-group">
        <div class='input-group date datepicker event-time'>
          <input type="text" class="form-control" name="new_ticket_event_time[]" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </td>
    <td width="200">
      <div class="form-group">
        <div class='input-group date datepicker end-time'>
          <input type="text" class="form-control" name="new_ticket_end_time[]" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </td>

    <td width="100" align="right">
      <a class="btn btn-sm btn-default btn-ticket-delete" href="javasctipt:;" onclick="return onTicketDelete(this);"><i class="fa fa-minus"></i></a>
      <a class="btn btn-sm btn-default btn-ticket-add" href="javasctipt:;" onclick="return onTicketAdd(this);"><i class="fa fa-plus"></i></a>
    </td>
  </tr>
</script>
