<nav class="nav nav-pills nav-daydash" id="organizer-nav">
	<li id="menu-event-list"><a href="/organizer/events/">Manage Events</a></li>
	<li id="menu-create-event"><a href="/organizer/events/new">Create New Event</a></li>
	<li id="menu-settings"><a href="/organizer/settings">Account</a></li>
	<li id="menu-logout"><a href="/organizer/logout">Logout</a></li>
</nav>
