.ekko-lightbox {
  .modal-content {
    background: transparent;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;

    .modal-header {
      background: transparent;
      border: 0px;
      padding: 10px 0px;
    }

    .modal-body {
      border-radius: 5px;
      background: white;
      img {
        margin: auto;
        max-height: 580px;
      }
    }
  }

  .close {
    color: transparent;
    text-shadow: none;

    display: inline-block;
    width: 30px;
    height: 30px;

    background-image: asset-url('icons/icon-close.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
  }

  .glyphicon-chevron-left:before,
  .glyphicon-chevron-right:before {
    content: " ";
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .glyphicon-chevron-left:before {
    background-image: asset-url('icons/icon-chevron-left.png');
  }

  .glyphicon-chevron-right:before {
    background-image: asset-url('icons/icon-chevron-right.png');
  }
}
