@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-Regular.ttf); }
@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-Italic.ttf);
  font-style: italic; }
@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-Bold.ttf);
  font-weight: 600; }
@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-Light.ttf);
  font-weight: 200; }
@font-face {
  font-family: 'Kanit';
  src: url(../../fonts/Kanit/Kanit-LightItalic.ttf);
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Athiti';
  src: url(../../fonts/Athiti/Athiti-Regular.ttf); }
@font-face {
  font-family: 'Athiti';
  src: url(../../fonts/Athiti/Athiti-Bold.ttf);
  font-weight: 600; }
@font-face {
  font-family: 'Athiti';
  src: url(../../fonts/Athiti/Athiti-Light.ttf);
  font-weight: 200; }
#campaign-page #loading {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(229, 242, 245, 0.8);
  color: white;
  text-align: center;
  z-index: 999; }
  #campaign-page #loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7; }
#campaign-page #main {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachement: fixed; }
#campaign-page #intro-section {
  padding-bottom: 30px;
  text-align: center; }
  #campaign-page #intro-section .container {
    max-width: 750px; }
  #campaign-page #intro-section .section-title {
    font-family: "Kanit", "Helvetica Neue", "sans-serif";
    font-size: 46px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px; }
  #campaign-page #intro-section .section-description {
    font-family: "Athiti", "Helvetica Neue", "sans-serif";
    font-size: 18px;
    color: #444; }
#campaign-page #event-section .container {
  max-width: 900px; }
#campaign-page #event-section .section-body .event {
  position: relative;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
  #campaign-page #event-section .section-body .event .cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
    border-radius: 5px;
    transition: all 0.3s; }
  #campaign-page #event-section .section-body .event .info {
    position: absolute;
    height: auto;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    padding: 15px;
    text-align: center;
    font-family: "Athiti", "Helvetica Neue", "sans-serif";
    font-size: 16px;
    color: white; }
    #campaign-page #event-section .section-body .event .info h4 {
      font-family: "Kanit", "Helvetica Neue", "sans-serif";
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px; }
    #campaign-page #event-section .section-body .event .info .btn {
      margin-top: 10px; }
  #campaign-page #event-section .section-body .event:hover .cover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%); }
#campaign-page #event-section .section-footer {
  padding-bottom: 30px;
  font-family: "Athiti", "Helvetica Neue", "sans-serif";
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px; }
  #campaign-page #event-section .section-footer a {
    color: #777;
    text-decoration: none; }
#campaign-page #footer-section {
  text-align: center; }
  #campaign-page #footer-section .section-title {
    font-family: "Kanit", "Helvetica Neue", "sans-serif";
    font-weight: bold;
    font-size: 18px;
    color: #666;
    margin-bottom: 30px; }
  #campaign-page #footer-section .sponser-list li {
    padding: 0px 30px; }
    #campaign-page #footer-section .sponser-list li a img {
      height: 120px; }
#campaign-page #social-list {
  padding: 30px; }
  #campaign-page #social-list li {
    padding-left: 15px;
    padding-right: 15px; }
  #campaign-page #social-list .icon, #campaign-page #social-list .fa {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  #campaign-page #social-list .icon-facebook {
    background-image: url("/src/images/icons/icon-facebook-black.png"); }
  #campaign-page #social-list .icon-instagram {
    background-image: url("/src/images/icons/icon-instagram-black.png"); }
  #campaign-page #social-list .icon-line {
    background-image: url("/src/images/icons/icon-line-black.png"); }
  @media (max-width: 991px) {
    #campaign-page #social-list {
      margin-top: 50px;
      text-align: center; } }
  @media (min-width: 992px) {
    #campaign-page #social-list {
      position: absolute;
      top: 0px;
      right: 0px;
      width: auto;
      height: auto; } }
#campaign-page .btn-daydash {
  padding: 10px 5px;
  font-size: 20px;
  border-radius: 25px;
  border: 0px;
  font-family: "Kanit", "Helvetica Neue", "sans-serif";
  font-weight: bold;
  letter-spacing: 0.5px; }
#campaign-page .btn-pink-blue {
  background: linear-gradient(to right, #F57A7A, #456EE6);
  color: white; }
#campaign-page .btn-green {
  background: linear-gradient(to right, #00CFD1, #00E9CA);
  color: white; }
  #campaign-page .btn-green:hover {
    background: linear-gradient(45deg, #DF1E68, #DD2993); }
@media (max-width: 991px) {
  #campaign-page #intro-section .section-title {
    font-size: 30px; }
    #campaign-page #intro-section .section-title br {
      display: none; }
  #campaign-page #intro-section .section-description {
    font-size: 16px; }
  #campaign-page #footer-section .sponser-list li {
    padding: 0px 15px; }
    #campaign-page #footer-section .sponser-list li a img {
      height: 80px; } }

#campaign-terms-page #main {
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Athiti", "Helvetica Neue", "sans-serif"; }
  #campaign-terms-page #main h2, #campaign-terms-page #main h4 {
    font-family: "Kanit", "Helvetica Neue", "sans-serif";
    font-weight: bold; }
#campaign-terms-page #social-list {
  padding: 30px; }
  #campaign-terms-page #social-list li {
    padding-left: 15px;
    padding-right: 15px; }
  #campaign-terms-page #social-list .icon, #campaign-terms-page #social-list .fa {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  #campaign-terms-page #social-list .icon-facebook {
    background-image: url("/src/images/icons/icon-facebook-black.png"); }
  #campaign-terms-page #social-list .icon-instagram {
    background-image: url("/src/images/icons/icon-instagram-black.png"); }
  #campaign-terms-page #social-list .icon-line {
    background-image: url("/src/images/icons/icon-line-black.png"); }
  @media (max-width: 991px) {
    #campaign-terms-page #social-list {
      margin-top: 50px;
      text-align: center; } }
  @media (min-width: 992px) {
    #campaign-terms-page #social-list {
      position: absolute;
      top: 0px;
      right: 0px;
      width: auto;
      height: auto; } }

/*# sourceMappingURL=campaign.css.map */
