
.home {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Kanit';
  }

  .p-icon {
    margin-bottom: 15px;
  }

  p {
    font-family: 'Athiti';
  }

  .box-center {
    font-family: 'Athiti';
    font-size: 14pt;
    font-weight: 100;
    color: #414141;
    width: 40%;
    margin: auto;
  }

  .underline-title {
    border: 1px solid #19D4D6;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .nc-icon-title {
    font-size: 32pt
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mt-40 {
    margin-top: 40px;
  }

  section {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  section.cover {
    height: 400px;
    color: #fff;
    padding-top: 120px;
    div.title {
      font-size: 32pt;
      font-weight: bold;
    }
    div.sub-title {
    }
    div.btn-cover {
      border: 2px solid #fff;
      font-weight: bold;
      padding: 10px 40px;
    }
  }

  section.title {
    // padding-top: 40px;
    // padding-bottom: 20px;
  }

  section.recommend,
  section.this-week {
    background: #FCFCFC;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    // padding-top: 40px;
    // padding-bottom: 20px;
    h4 {
      font-family: sans-serif;
    }
  }

  section.category {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  section.comment {
    background: #D9FFFF;
    // padding-top: 40px;
    // padding-bottom: 20px;
  }

  section.subscribe {
    // padding-top: 40px;
    // padding-bottom: 20px;

    input.subscribe {
      border: 1px solid #ccc;
      border-right: 0px;
    }
    div.subscribe {
      border: 0px;
      border-radius: 0px;
      background-color: #30CDCE;
      color: #fff;
      padding: 15px 35px;
      font-size: 12pt;
    }

    p.note {
      color: #A4A4A4;
      font-size: 10pt;
    }
  }
}
