<script type="text/javascript">
  $('body').attr('id', 'organizer-events-new');
  $('#organizer-nav #menu-create-event').addClass('active');
</script>

<%= render partial: "organizer/parts/organizer-nav" %>


<div class="section">
  <div class="container">
    <%= form_tag organizer_events_path(@event), multipart: true do %>
      <%= render partial: "organizer/parts/event_form" %>
    <% end %>
  </div>
</div>
