<script type="text/javascript">
  $(document).ready(function(){
    $('body').attr('id', 'organizer-events-new').addClass('organizer-event-page');
    $('#organizer-nav #menu-create-event').addClass('active');
  });
</script>

<%#= render partial: "layouts/parts/nav" %>

<div class="section">
  <div class="container">
    <div class="section-header row"></div>
    <div class="section-body row">
      <div class="col-xs-12">
        <%= form_tag organizer_events_path(@event), multipart: true, 'data-parsley-validate': true do %>
          <%= render partial: "organizer/parts/event_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
