<script type="text/javascript">
  $(document).ready(function(){
    $('body').attr('id', 'organizer-events-new').addClass('organizer-event-page');
    $('#organizer-nav #menu-create-event').addClass('active');
  });
</script>

<%= render partial: "layouts/parts/nav" %>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="padding: 40px 0px">
          <%= form_tag organizer_events_path(@event), multipart: true, 'data-parsley-validate': true do %>
            <%= render partial: "organizer/parts/event_form" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
