<% content_for :body_id, 'organizer-events-new' %>
<% content_for :body_class, 'organizer-event' %>
<%#= render partial: "partials/nav" %>

<div class="section">
  <div class="container">
    <div class="section-body row">
      <div class="col-xs-12">
        <%= form_tag organizer_events_path(@event), multipart: true, 'data-parsley-validate': true do %>
          <%= render partial: "organizer/parts/event_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
