<% content_for :body_id, 'organizer-events-edit' %>
<% content_for :body_class, 'organizer-event' %>
<%= render partial: "partials/manage_nav" %>
<div class="section">
  <div class="container">
    <div class="section-body row">
      <div class="col-xs-12">
        <%= form_tag organizer_event_path(@event), multipart: true, 'data-parsley-validate': true, method: :put  do %>
          <input type="hidden" name="images_order" value="<%= @images_order.join(',') %>" />
          <input type="hidden" name="images_delete[]" value="" />
          <input type="hidden" name="sections_delete[]" value="" />
          <%= render partial: "organizer/parts/event_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
