
<style type="text/css">
  h1 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 100px;
  }
  p {
    font-size: 16px;
    line-height: 1.6em;
  }
  a.btn-daydash {
    margin: 20px 0px;
  }
  .width-800 {
    width: 800px;
    margin: 0 auto;
  }
</style>

<div class="text-center width-800">
  <h1 style="font-size: 48px; font-weight: 500">About</h1>
  <h2>Daydash คืออะไร</h2>
  <p>
    Daydash (อ่านว่า เดย์แดช) คือเว็บไซต์และแอปพลิเคชั่นที่คัดเลือกกิจกรรมและอีเว้นท์ดีๆ สนุกๆ ที่ตรงกับไลฟ์สไตล์ของคนเมือง โดยสามารถซื้อบัตรและชำระเงินเพื่อเข้าอีเว้นท์หรือกิจกรรมได้โดยตรงผ่านทางแอพพลิเคชั่นและเว็บไซต์ได้ง่ายๆ ไม่ต้องวางแผนล่วงหน้านานๆ
  </p>
  <h2>
    ทำไมเราถึงสร้าง Daydash ขึ้นมา
  </h2>
  <p>
    เพราะเราเชื่อว่าชีวิตยังมีเรื่องราวหรือประสบการณ์อีกมากมายให้คุณได้ลองเข้าไปสัมผัส เป้าหมายของเราจึงเป็นการสนับสนุนให้ทุกคนได้ได้รับประสบการณ์ใหม่ๆ ที่นอกเหนือจากการใช้ชีวิตประจำวัน ผ่านการทำกิจกรรม การเข้าร่วมอีเว้นท์ที่แปลกใหม่ หรือแม้กระทั่งท่องเที่ยวไปในที่ที่ไม่เคยไป
  </p>
  <h2>
    Daydash มีอะไรบ้าง?
  </h2>

  <p>
    เราทุกคนล้วนมีความชอบและความสนใจที่หลากหลาย ตอนเช้าเราอาจจะออกกำลังกาย ตกบ่ายอยากจะหาร้านนั่งชิว พอหัวค่ำก็อยากจะหาดนตรีฟัง กิจกรรมและอีเว้นท์ที่เราคัดมาจึงมีหลายหมวดหมู่แต่มีจุดเชื่อมโยงคือต้องสนุก แปลกใหม่ เพื่อสร้างประสบการณ์ที่ดีที่สุดให้กับชีวิตทุกครั้งที่ได้ทำ
  </p>
  <h2>
    Entertainment & Music
  </h2>
  <p>
    ดนตรีสด ดีเจ สุดมันส์ ปาร์ตีสนุกๆ ละครเวที ละครใบ้ games night ฯลฯ
  </p>
  <h2>
    Art & Craft
  </h2>
  <p>
    เวิร์คชอปวาดสีน้ำ ฝึกดริปกาแฟ ถ่ายภาพ หรือชมงานแสดงเจ๋ง ฯลฯ
  </p>
  <h2>
    Active Lifestyle
  </h2>
  <p>
    กิจกรรมที่ต้องเสียเหงื่อ ทั้งสนุกและได้เบิร์นไปพร้อมๆ กัน
  </p>
  <h2>
    Food & Drink
  </h2>
  <p>
    การได้ไปปาร์ตี้ทานอาหาร จิบไวน์ ลองเครื่องดื่มแปลกใหม่ ถือเป็นประสบการณ์ที่เราอยากให้คุณได้สัมผัสเช่นกัน
  </p>
  <a href="/" class="btn btn-daydash btn-daydash-green-2 btn-lg">ค้นหากิจกรรมและอีเว้นท์ที่น่าสนใจ</a>
</div>
