  <%= stylesheet_link_tag 'greetings/dash-your-day', media: 'all', 'data-turbolinks-track' => true %>

  <section id="campaign-terms-page">
    <div id="fb-root"></div>
    <div id="wrapper">
      <div id="main" style="background-image: url(/src/images/content/campaign/bg.png);">
        <div class="section" id="intro-section">
          <div class="container container-sm">
            <div class="row">
              <div class="col-xs-12" style="text-align: center;">
                <a href="/campaign/dash-your-day"><img src="/src/images/theme/logo.png" height="60" /></a>

              </div>
            </div>
          </div>
        </div>
        <div class="section" id="term-section">
          <div class="container">
            <h2>เงื่อนไขการร่วมกิจกรรม “Dash Your Day” ได้เวลาเติมประสบการณ์ใหม่ๆ ให้ชีวิต โดย WadeAlike.com</h2>
            <ul>
              <li>เปิดให้ร่วมสนุกตั้งแต่วันที่ 19 - 7 กันยายน 2016 </li>
              <li>หมดเวลาเข้าร่วมสนุกเวลา 24.00 น. ของวันที่ 7 กันยายน 2016 ตามเวลาในประเทศไทย</li>
              <li>ประกาศผลรางวัลในวันที่ 5 กันยายน 2016 ทาง <a href="https://www.facebook.com/wadealikeapp/" target="_blank">WadeAlike Facebook Page</a></li>
            </ul>

            <h2>รายละเอียดของรางวัล</h2>

            <h4>เวิร์คช็อปทำลูกชุบ โดย <a href="https://www.facebook.com/olivecreativelab" target="_blank">Olive Creative Lab</a> :</h4>
            <ul>
              <li>1 รางวัล รางวัลละ 1 ท่าน มูลค่า 1,800 บาท</li>
              <li>รางวัลได้รวมอุปกรณ์ทุกอย่างเรียบร้อยแล้ว</li>
              <li>เวิร์คช็อปจะจัดขึ้นในวันที่ 24 กันยายน เวลา 14:00-16:00 น. ณ Olive Creative Lab (เอกมัยซอย 10) หากคุณไม่สามารถเข้าร่วมในวันเวลาเวลาดังกล่าวได้ กรุณาร่วมสนุกเพื่อลุ้นรับของรางวัลอื่นแทน</li>
            </ul>

            <h4>เลเซอร์เกม โดย <a href="http://www.lazgam.com/" target="_blank">Lazgam</a> :</h4>
            <ul>
              <li>10 รางวัล รางวัลละ 2 ท่าน มูลค่า 700 บาท</li>
              <li>ผู้ได้รับรางวัลจะต้องลงทะเบียนเพื่อจองวันและเวลาที่ท่านต้องการเล่นล่วงหน้าที่ <a href="https://www-34p.bookeo.com/bookeo/b_lazgamlasergames_start.html?ctlsrc=1471629614096&src=02r">Lazgam Booking</a> หากไม่จองล่วงหน้า ทางทีมงานจะไม่สามารถรับประกันได้ว่าคุณจะได้เล่นเกมตามวันและเวลาที่ต้องการหรือไม่่</li>
              <li>หมดเขตใช้สิทธิ์ วันที่ 30 กันยายน 2016</li>
            </ul>

            <h4>Rock Climbing 1 Day Pass โดย <a href="http://www.rockdomaingym.com/" target="_blank">Rock Domain Climbing Gym</a> :</h4>
            <ul>
              <li>2 รางวัล รางวัลละ 2 ท่าน มูลค่า 900 บาท</li>
              <li>รางวัลนี้ไม่รวมค่าเช่าอุปกรณ์ต่างๆ</li>
              <li>หมดเขตใช้สิทธิ์ วันที่ 30 กันยายน 2016</li>
            </ul>

            <h2>เงื่อนไขในการรับของรางวัล</h2>
            <ul>
              <li>ของรางวัลไม่สามารถเปลี่ยนเป็นเงินสดหรือรางวัลอื่นได้</li>
              <li>ผู้โชคดีมีสิทธิ์ได้รับรางวัลที่มีมูลค่าสูงสุดเพียงรางวัลเดียว</li>
              <li>ทีมงาน WadeAlike จะติดต่อผู้โชคดีเพื่อส่งของรางวัลและรายละเอียดทางอีเมล</li>
              <li>คำตัดสินของทีมงาน WadeAlike ถือเป็นที่สิ้นสุด</li>
              <li>ทีมงาน WadeAlike ขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขและของรางวัลโดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
            </ul>
          </div>
        </div>
        <ul class="list-inline" id="social-list">
          <li><a target="_blank" href="https://www.facebook.com/wadealikeapp/"><i class="icon icon-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/wadealikeapp"><i class="icon icon-instagram"></i></a></li>
          <li><a target="_blank" href="http://line.me/ti/p/%40wadealike"><i class="icon icon-line"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Facebook API -->
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=259929777688738";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </section>

