
<style type="text/css">
  h1 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 100px;
  }
  p {
    font-size: 16px;
    line-height: 1.6em;
  }
  a.btn-daydash {
    margin: 20px 0px;
  }
  .width-800 {
    width: 800px;
    margin: 0 auto;
  }
</style>

<div class="text-center width-800">
  <h1 style="font-size: 48px; font-weight: 500">Contact Us</h1>
</div>
<div class="width-800">
  <h2>
    ติดต่อเรา
  </h2>
  <p>
    ที่อยู่: 31 ซอยเอกมัย 4 ถนนสุขุมวิท 63 แขวงพระโขนงเนือ เขตวัฒนา กรุงเทพฯ 10110 <br>
    เบอร์ติดต่อ: (+66) 080-456-9465 <br>
    อีเมล: hello@daydash.co <br>
    Line: @daydash <br>
    Social Media <br>
    facebook.com/daydashapp <br>
    instagram.com/daydashapp <br>
    twitter.com/daydashapp <br>
  </p>

  <a href="/" class="btn btn-daydash btn-daydash-green-2 btn-lg">ค้นหากิจกรรมและอีเว้นท์ที่น่าสนใจ</a>
</div>
