<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% unless mobile_device? %>
        <h1>Terms of Service</h1>
      <% end %>
      <h2>ข้อตกลงการใช้บริการแอพพลิเคชั่น Daydash</h2>
      <p>ข้อกำหนดและเงื่อนไขทั้งหมดในเอกสารฉบับนี้ใช้บังคับสำหรับการที่ท่านเข้าใช้แอพพลิเคชั่นทางโทรศัพท์มือถือและเว็บไซต์ ของ Daydash ซึ่งรวมถึงเนื้อหา การใช้เงิน และการให้บริการทั้งหมดบน Daydash Mobile App (“แอพ”)
      การใช้แอพ  สร้างบัญชีผู้ใช้งาน หรือคลิกยอมรับข้อตกลงการใช้งานของเรา จะถือว่าท่านยอมรับที่จะปฏิบัติตาม และอยู่ภายใต้ข้อตกลง รวมถึงยอมรับนโยบายการเป็นส่วนตัวที่เรากำหนด ท่านจะไม่สามารถใช้บริการแอพพลิเคชั่นของเราได้ หากท่านไม่เห็นด้วยกับข้อตกลง หรือนโยบายความเป็นส่วนตัวดังกล่าว
      ทางบริษัทขอสงวนสิทธิในการแก้ไขหรือเปลี่ยนแปลงข้อกำหนดการใช้ นโยบาย หรือคู่มือใดๆ ของแอพพลิเคชั่นตลอดเวลา ซึ่งการแก้ไขหรือเปลี่ยนแปลงดังกล่าวจะมีผลทันทีเมื่อมีการประกาศฉบับแก้ไขลงในแอพพลิเคชั่น และท่านตกลงสละสิทธิใด ๆ ที่อาจมีในการรับทราบคำบอกกล่าวเกี่ยวกับการแก้ไขเปลี่ยนแปลงดังกลาว ดังนั้น หากท่านไม่เห็นด้วยกับการแก้ไขเปลี่ยนแปลงดังกล่าว กรุณาหยุดการเข้าใช้แอพพลิเคชั่น</p>

      <h2>ศัพท์สำคัญ</h2>
      <p>สินค้า คือ อีเว้นท์ หรือ กิจกรรม  หรือ แพ็คเกจการให้บริการทุกชนิดที่อยู่บน Daydash</p>
      <p>ผู้จัด คือผู้จัดกิจกรรม หรือ อีเว้นท์  ซึ่งอาจจะเป็นบุคคล กลุ่มคน ร้านค้า หรือ บริษัท ที่ให้บริการบน Daydash และตกลงยอมรับตามข้อกำหนดของ Daydash</p>
      <p>ผู้ซื้อ คือผู้ที่ซื้อบัตรเข้าร่วมบน Daydash และตกลงยอมรับตามข้อกำหนดของ Daydash</p>
      <p>ผู้ใช้ คือผู้ที่เข้ามาสู่แอพพลิเคชั่นของ Daydash  และใช้บริการของ Daydash  ซึ่งรวมถึงผู้จัด และผู้ซื้อด้วย</p>

      <h2>การลงทะเบียนและบัญชีผู้ใช้งาน</h2>
      <p>บริษัทขอสงวนสิทธิให้เฉพาะผู้ใช้งานที่ลงทะเบียนเพื่อสร้างบัญชีกับแอพพลิเคชั่นของบริษัทที่จะสามารถสั่งซื้อสินค้า ใช้บริการ และร่วมทำกิจกรรมต่างๆ ที่จัดให้มีในแอพพลิเคชั่น อาทิ การสั่งซื้อสินค้า หรือการเข้าร่วมสนุกกับกิจกรรมต่างๆ เป็นต้น เมื่อท่านตกลงสร้างบัญชี ให้ถือว่าท่านตกลงดังต่อไปนี้
      </p>

      <ul>
        <li>ผู้ใช้งานหนึ่งท่านสามารถลงทะเบียนสร้างบัญชีได้เพียงหนึ่งบัญชีเท่านั้น</li>
        <li>ท่านตกลงให้ข้อมูลรายละเอียดที่ถูกต้อง ตรงต่อความเป็นจริง และเป็นปัจจุบัน</li>
        <li>ท่านจะปรับปรุงข้อมูลของท่านให้เป็นปัจจุบันอย่างสม่ำเสมอ</li>
        <li>ท่านจะรักษาความปลอดภัยของบัญชีของท่านโดยเก็บรักษาชื่อบัญชีและรหัสผ่านไว้เป็นความลับของท่านแต่เพียงผู้เดียว และจำกัดไม่ให้บุคคลภายนอกเข้าถึงบัญชีและคอมพิวเตอร์ของคุณ</li>
        <li>ท่านจะแจ้งให้แอพพลิเคชั่นและบริษัททราบทันทีที่ท่านสงสัยว่ามีการละเมิดความปลอดภัยเกี่ยวกับบัญชีของท่าน</li>
        <li>ท่านตกลงรับผิดชอบต่อการกระทำใด ๆ ที่เกิดขึ้นผ่านการใช้บัญชีของท่าน และยอมรับความเสี่ยงทุกกรณีที่อาจเกิดขึ้นเกี่ยวกับการเข้าใช้บัญชีของท่านโดยไม่ได้รับอนุญาต
          <ul>
            <li>สำหรับสมาชิกออนไลน์ที่มีอายุต่ำกว่า 20 ปี การทำธุรกรรมใด ๆ ที่เกี่ยวข้องกับการเงิน เช่น สั่งซื้อสินค้าออนไลน์ ท่านควรตรวจสอบเงื่อนไขการใช้งานภายใต้ความดูแลของผู้ปกครองตามกฎหมาย และดำเนินการให้แน่ใจว่าผู้ปกครองของท่านเข้าใจเงื่อนไขและข้อกำหนดการใช้งานแอพพลิเคชั่นแล้ว</li>
            <li>บริษัทสงวนสิทธิโดยมีดุลยพินิจแต่เพียงผู้เดียวที่จะเพิกถอนการเป็นสมาชิกของท่านได้ทันทีโดยไม่ต้องแจ้งให้ทราบล่วงหน้า หากบริษัทพบการกระทำดังต่อไปนี้
            <ul>
              <li>ท่านให้ข้อมูลที่เป็นเท็จในการลงทะเบียน รวมถึงการไม่ปรับปรุงข้อมูลให้เป็นข้อมูลปัจจุบัน</li>
              <li>พบการเข้าใช้งานบัญชีของท่านโดยบุคคลอื่น</li>
              <li>การกระทำใด ๆ ผ่านบัญชีของท่าน ซึ่งเป็นการปฏิบัติผิดเงื่อนไขการใช้งานภายใต้ข้อตกลงการใช้บริการ และเงื่อนไขอื่นซึ่งบริษัทกำหนด</li>
              <li>การกระทำใด ๆ ผ่านบัญชีของท่าน โดยไม่ถูกต้องตามกฏหมายหรือศีลธรรมอันดีของประชาชน หรือมีการใช้งานโดยมีเจตนาทุจริต</li>
            </ul>
            </li>
            <li>บริษัทจัดเก็บ รวมรวม ใช้ และเปิดเผยข้อมูลของท่านเกี่ยวกับการลงทะเบียนและการใช้งานแอพพลิเคชั่นตามนโยบายว่าด้วยข้อมูลส่วนบุคคลซึ่ง รวมถึงแต่ไม่จำกัดเฉพาะ การเปิดเผยข้อมูลของท่านเฉพาะที่เกี่ยวข้องให้แก่ผู้จัด (ตามที่มีนิยามด้านล่าง) ท่านสามารถพิจารณารายละเอียดได้ในเอกสารดังกล่าว</li>
          </ul>
        </li>
      </ul>

      <h2>ข้อจำกัดการใช้งาน</h2>
      <p>ในการใช้งานแอพพลิเคชั่นนี้ ท่านจะดำเนินการภายใต้กฎหมาย ระเบียบ และข้อบังคับที่เกี่ยวข้อง และตกลงดังต่อไปนี้
      </p>

      <ul>
        <li>ห้ามเผยแพร่ข้อความอันส่งผลเสียหายแก่ผู้อื่น</li>
        <li>ห้ามเผยแพร่ข้อความที่ ผิดกฎหมาย ข่มขู่คุกคาม กล่าวร้าย หมิ่นประมาท ละเมิดต่อสิทธิ หยาบคาย ลามกอนาจาร ดูหมิ่น ทำลาย เหยียดหยาม ต่อผู้อื่น</li>
        <li>ห้ามปลุกระดมให้เกิดการจลาจล</li>
        <li>ห้ามใช้ในเชิงพาณิชย์โดยไม่ได้รับอนุญาตจากบริษัท</li>
        <li>ห้ามจำกัดมิให้บุคคลอื่นใช้งานแอพพลิเคชั่นโดยไม่ได้รับอนุญาตจากบริษัท</li>
        <li>ห้ามเผยแพร่ลิ้งก์ไปยังแอพพลิเคชั่น หรือเนื้อหาอื่นใด ซึ่งมีลักษณะที่ขัดต่อกฎหมาย หรือไม่เหมาะสม</li>
        <li>ห้ามเผยแพร่สแปม การติดต่อทางการตลาดโดยตรง หรือการโฆษณาโดยไม่ได้รับอนุญาต สื่อสนับสนุนการขาย หรือการชักชวน การค้าขายในรูปแบบอื่น ๆ</li>
        <li>ห้ามเผยแพร่ไวรัส สปายแวร์ โทรจัน โปรแกรมซ่อน หรือไฟล์อื่นใดที่เป็นอันตราย ก่อให้เกิดความเสียหายต่อแอพพลิเคชั่น หรือผู้ใช้งานแอพพลิเคชั่น</li>
      </ul>

      <h2>ข้อกำหนดเกี่ยวกับการซื้อบัตรเข้าร่วม</h2>
      <p>ท่านรับทราบและยอมรับว่า แอพพลิเคชั่น Daydash มีวัตถุประสงค์ที่จะให้ท่านสามารถเข้าถึงอีเว้นท์และกิจกรรมต่างๆ ได้อย่างสะดวก รวดเร็วและมีประสิทธิภาพ รวมถึงสนับสนุนกิจกรรมพาณิชย์อิเล็กทรอนิกส์ของท่านเท่านั้น บริษัทมิได้เป็นผู้จัด ผู้ขาย หรือผู้ดำเนินการใดๆ ที่เกี่ยวกับการให้บริการอีเว้นท์/กิจกรรมดังกล่าวแต่ประการใด ดังนั้น เมื่อท่านสั่งซื้อบัตรผ่านแอพพลิเคชั่นนี้ ถือว่าท่านได้ให้ความตกลงเกี่ยวกับการซื้อสินค้าดังต่อไปนี้แล้ว
      </p>
      <ul>
        <li>การซื้อบัตร
          <ul>
            <li>บริษัทและแอพพลิเคชั่นนี้ เป็นเพียงตัวกลางในการจำหน่ายบัตรเข้าร่วมกิจกรรม และรับชำระค่าบัตรแทนผู้จัดเท่านั้น ดังนั้น การสั่งซื้อบัตรของท่านผ่านแอพพลิเคชั่น จึงถือเป็นการซื้อสินค้าจากผู้จัด</li>
            <li>การสั่งซื้อบัตรที่ได้รับการยืนยันผ่านแอพพลิเคชั่นว่าเป็นธุรกรรมที่ดำเนินการครบถ้วนสมบูรณ์แล้ว ซึ่งหมายรวมถึงการที่ท่านได้ชำระค่าบัตร รวมตลอดถึงค่าบริการที่เกี่ยวข้องแก่ทางบริษัทเรียบร้อยแล้ว บริษัทขอสงวนสิทธิในการคืนเงิน หรือยกเลิกธุรกรรมดังกล่าว แม้เป็นการทำธุรกรรมจากความผิดพลาดของผู้ใช้งานแอพพลิเคชั่นก็ตาม</li>
            <li>บริษัทไม่มีส่วนร่วมเกี่ยวกับการกำหนดราคาค่าบัตรในทุกกรณี ผู้จัดจะเป็นผู้กำหนดราคาบัตร ส่วนลด หรือ โปรโมชั่นต่าง ๆ (หากมี)</li>
            <li>บริษัทไม่มีส่วนร่วมในการกำหนดจำนวนอีเว้นท์หรือกิจกรรมที่จะจำหน่ายผ่านแอพพลิเคชั่นในทุกกรณี นอกจากนั้น ในบางกรณี ผู้จัดอาจจัดให้มีการจำหน่ายบัตรเข้าร่วมผ่านหลายช่องทางซึ่งรวมถึงแอพพลิเคชั่นนี้ ดังนั้น บริษัทจึงไม่สามารถยืนยันจำนวนสินค้าที่แน่นอนที่สามารถจำหน่ายผ่านแอพพลิเคชั่นได้ การระบุจำนวนบัตรผ่านทางแอพพลิเคชั่น เป็นการระบุจำนวนตามที่ผู้จัดกำหนดมาเท่านั้น</li>
          </ul>
        </li>
        <li>
          วิธีการชำระเงิน
          <ul>
            <li>ท่านสามารถชำระเงินค่าร่วมงานตามวิธีการที่บริษัทกำหนดทางแอพพลิเคชั่น</li>
            <li>ท่านไม่สามารถชำระเงินให้ผู้จัดผ่านช่องทางอื่นนอกจากช่องทางที่ Daydash  ได้กำหนดให้บนแอพพลิเคชั่น</li>
            <li>การชำระเงินของท่านจะสมบูรณ์ต่อเมื่อได้รับการยืนยันจากทางแอพพลิเคชั่นผ่านทางหน้าแอพพลิเคชั่นเท่านั้น </li>
          </ul>
        </li>
        <li>ค่าธรรมเนียมและค่าบริการ
          <ul>
            <li>ผู้ใช้บริการยอมรับว่าการสั่งซื้อบัตรเข้าร่วมในลักษณะใด ๆ ผ่านแอพพลิเคชั่น บริษัทมีสิทธิคิดค่าธรรมเนียมและค่าบริการในการดำเนินการตามจำนวนที่ระบุสำหรับกิจกรรมที่เกี่ยวข้อง ซึ่งค่าธรรมเนียมอาจเปลี่ยนแปลงได้ตามแต่ละงาน</li>
            <li>ค่าธรรมเนียมการดำเนินการจะไม่มีการคืนในทุกกรณี</li>
          </ul>
        </li>
        <li>การเลื่อนหรือยกเลิกอีเว้นท์หรือกิจกรรม
          <ul>
            <li>ท่านยอมรับว่าอีเว้นท์หรือกิจกรรมต่าง ๆ อาจถูกยกเลิกหรือเลื่อนเวลาได้ ซึ่งการยกเลิกหรือเลื่อนนั้น เป็นการพิจารณาจากผู้จัดเท่านั้น บริษัทไม่มีส่วนในการพิจารณาแต่ประการใด</li>
            <li>หากมีการยกเลิกหรือเลื่อนกิจกรรม โปรดติดตามข้อมูลข่าวสารจากผู้จัดโดยตรง โดยที่บริษัทอาจจัดให้มีข้อมูลข่าวสารเกี่ยวกับยกเลิกหรือเลื่อนกิจกรรมผ่านหน้าแอพพลิเคชั่น และผ่านทางอีเมล แล้วแต่กรณี</li>
          </ul>
        </li>
        <li>การคืนเงินค่าราคาบัตร
          <ul>
            <li>กรณีที่กิจกรรมถูกยกเลิกหรือเลื่อนเวลา และท่านมีสิทธิได้รับการคืนเงินค่าสินค้า ท่านตกลงเรียกให้ผู้จัดชำระเงินคืนได้โดยตรงเท่านั้น เว้นแต่กรณีที่บริษัทกำหนดเป็นกรณีเฉพาะว่าท่านสามารถได้รับเงินคืนผ่านแอพพลิเคชั่นสำหรับกิจกรรมนั้นเท่านั้น</li>
            <li>บริษัทจะไม่รับผิดชอบต่อความเสียหายใด ๆ ซึ่งเกิดขึ้นจากการเลื่อนหรือยกเลิกกิจกรรมโดยผู้จัดในทุกกรณี</li>
          </ul>
        </li>
        <li>ความรับผิดชอบในลักษณะของอีเว้นท์และกิจกรรม
          <ul>
            <li>บริษัทไม่มีส่วนเกี่ยวข้องกับการจัดอีเว้นท์และกิจกรรมในทุกกรณี หากท่านพบว่าลักษณะของอีเว้นท์หรือกิจกรรมไม่ตรงกับวัตถุประสงค์ในการสั่งซื้อ ท่านตกลงเรียกร้องจากผู้จัดโดยตรง และสละสิทธิในการเรียกร้องใดๆ ที่มีต่อบริษัททั้งสิ้น</li>
          </ul>
        </li>
      </ul>

      <h2>ข้อกำหนดเกี่ยวกับการขายบัตรเข้าร่วม</h2>
      <ul>
        <li>ข้อมูลอีเว้นท์และกิจกรรมที่แสดงอยู่บน Daydash  ถือว่าเป็นเนื้อหาที่ถูกสร้างขึ้นโดยผู้ใช้</li>
        <li>อีเว้นท์และกิจกรรมที่ผู้จัดประกาศสามารถถูกลบทิ้งโดย Daydash ได้ หากอีเว้นท์หรือกิจกรรมดังกล่าวไม่ได้ปฏิบัติตามข้อตกลง เช่น
          <ul>
            <li>อีเว้นท์และกิจกรรมที่ให้บริการที่ผิดกฎหมาย และละเมิดสิทธิของบุคคลอื่นๆ เช่น การบุกรุกเข้าสู่สถานที่ที่ไม่ได้รับอนุญาติจากบุคคลซึ่งเป็นเจ้าของ</li>
            <li>การละเมิดลิขสิทธิ์ หรือทรัพย์สินทางปัญญาของบุคคลอื่น</li>
            <li>อีเว้นท์และกิจกรรมที่เข้าข่ายสื่อลามก หรือที่ Daydash  เห็นว่าไม่เหมาะสม</li>
            <li>อีเว้นท์และกิจกรรมที่เป็นสแปม หรือที่ Daydash เห็นว่าไม่เหมาะสม</li>
            <li>อีเว้นท์และกิจกรรมที่หลอกลวงผู้ซื้อ หรือละเมิดข้อตกลงต่างๆ ของบุคคลที่สาม</li>
            <li>อีเว้นท์และกิจกรรมที่ไม่ใช่ของตนเอง</li>
            <li>อีเว้นท์และกิจกรรมอื่นๆ ที่ Daydash เห็นว่าไม่เหมาะสม</li>
          </ul>
        </li>
        <li>บัญชีของผู้จัดอาจมีสิทธิ์ถูกระงับการใช้งาน หากอีเว้นท์และกิจกรรมของผู้ขายถูกลบทิ้งด้วยเหตุผลตามข้อข้างต้น</li>
        <li>อีเว้นท์และกิจกรรมที่ถูกลบออกไปด้วยเหตุผลตามข้อข้างต้น จะไม่สามารถนำกลับมาแก้ไข หรือนำกลับมาใช้ในระบบได้</li>
        <li>ผู้จัดไม่สามารถรับชำระเงินจากผู้ซื้อผ่านช่องทางอื่นนอกจากช่องทางที่ Daydash ได้กำหนดให้บนแอพพลิเคชั่น</li>
        <li>อีเว้นท์และกิจกรรมหรือผู้จัดที่ได้รับรีวิวที่ไม่ดีอาจไม่ถูกนำมาแสดงในระบบของ Daydash ได้</li>
        <li>ผู้ขายไม่สามารถเพิ่มเติมรายละเอียดอีเว้นท์และกิจกรรมที่ส่งผลกระทบแก่การเปลี่ยนแปลงข้อตกลงของ Daydash ได้</li>
      </ul>



      <h2>ข้อจำกัดความรับผิดของบริษัท</h2>
      <ul>
        <li>ท่านรับทราบและตกลงอย่างชัดแจ้งว่า บริษัทไม่มีความรับผิดชอบต่อความผิดพลาดของเนื้อหา (หมายถึง ข้อความ ภาพประกอบ รูปถ่าย เครื่องหมายการค้า ข้อมูล หรือ ส่วนประกอบอื่นใด) ใดๆ ในแอพพลิเคชั่น ที่อาจมีผลมาจากการไม่ใช่ข้อมูลล่าสุด หรือมีการพิมพ์ข้อมูลผิดพลาด อันเนื่องมาจากพนักงานของบริษัท หรือข้อมูลรายละเอียดที่ได้มาจากทางผู้จัดด้วย และ บริษัทขอสงวนสิทธิในการเปลี่ยนแปลงแก้ไขเนื้อหาต่าง ๆ โดยมิต้องแจ้งให้ทราบล่วงหน้า </li>
        <li>เนื้อหา ข้อมูล สารสนเทศต่างๆ บนแอพพลิเคชั่น Daydash ไม่อยู่ในความรับผิดชอบต่อความเที่ยงตรง ความสมบูรณ์หรือประโยชน์ในการใช้งาน ของทางบริษัท ทั้งส่วนที่เกิดจากบุคคลที่สาม ผู้หนึ่งผู้ใดที่ใช้บริการ รวมทั้งความคิดเห็น และข้อแนะนำจากพนักงานที่อยู่ในความดูแลของทางบริษัทด้วย </li>
        <li>ท่านรับทราบและตกลงอย่างชัดแจ้งว่า บริษัทไม่มีความรับผิดชอบต่อการไม่สามารถเข้าใช้บริการส่วนใดส่วนหรือหรือทั้งหมดของแอพพลิเคชั่น </li>
        <li>ท่านตกลงรับผิดชอบถึงความเสี่ยงที่อาจเกิดขึ้นจากการการเลือกใช้เครื่องมือเพื่อรองรับการใช้บริการจากแอพพลิเคชั่น Daydash เช่น โทรศัพท์ คอมพิวเตอร์ ฮาร์ดแวร์ และอุปกรณ์ต่างๆ รวมทั้งค่าบริการ จากการใช้บริการที่เกี่ยวข้อง </li>
        <li>สื่อและข้อมูลในแอพพลิเคชั่นอาจมีความคลาดเคลื่อนทางเทคนิคหรือสะกดคำผิด นอกจากนี้ การให้สื่อ ข้อมูล และบริการในไซต์เป็นลักษณะ "ตามสภาพ" โดยไม่มีเงื่อนไข การรับประกัน หรือข้อกำหนดลักษณะอื่นใด ดังนั้น บริษัทปฏิเสธการรับประกันและเงื่อนไขใดๆ ไม่ว่าโดยชัดแจ้งหรือโดยปริยายทั้งปวง ซึ่งรวมถึงแต่ไม่จำกัดเพียงการรับประกันโดยปริยายหรือสภาพความเหมาะสมในการใช้ประโยชน์เชิงพาณิชย์โดยปริยาย คุณภาพที่น่าพึงพอใจ ความเหมาะสมสำหรับวัตถุประสงค์หรือความต้องการในการใช้งานเฉพาะ ความถูกต้อง กรรมสิทธิ์ และการไม่ละเมิดลิขสิทธิ์อันเกี่ยวข้องกับแอพพลิเคชั่นและข้อมูล เนื้อหา และสื่อที่อยู่ในแอพพลิเคชั่น หรือการใช้แอพพลิเคชั่นจะไม่เกิดการหยุดชะงักหรือการใช้แอพพลิเคชั่นจะเป็นไปตามกฎหมายที่ใช้บังคับกับท่าน หรือการส่งข้อมูลเกี่ยวกับท่านอันเกี่ยวข้องกับแอพพลิเคชั่นจะสำเร็จ ถูกต้อง หรือส่งอย่างปลอดภัย ทั้งนี้ ข้อปฏิเสธดังกล่าวข้างต้นจะเป็นไปตามเท่าที่กฎหมายอนุญาตให้สามารถกระทำได้ </li>
        <li>เท่าที่กฎหมายที่เกี่ยวข้องจะอนุญาตไว้ บริษัท และเจ้าหน้าที่ กรรมการ พนักงาน ผู้ถือหุ้น หรือตัวแทนของบริษัท จะไม่มีความรับผิดสำหรับค่าเสียหายทางตรง ทางอ้อม ค่าเสียหายที่เป็นการลงโทษ หรือที่เป็นผลสืบเนื่อง หรือค่าเสียหายอื่นใดในประเภทใดก็ตาม ซึ่งรวมถึงแต่ไม่จำกัดเพียงการสูญเสียรายได้ กำไร ค่าความนิยม ข้อมูล สัญญา การใช้เงิน หรือการสูญเสียหรือเสียหายอันเนื่องมาจากหรือที่เกี่ยวข้องในทางใดก็ตามกับการหยุดชะงักของธุรกิจ ไม่ว่าในการละเมิด (ซึ่งรวมถึงแต่ไม่จำกัดเพียงความประมาทเลินเล่อ) สัญญา หรือโดยประการอื่น อันเป็นผลมาจาก หรือที่เกี่ยวข้องกับการใช้หรือการไม่สามารถใช้แอพพลิเคชั่น เนื้อหา หรือสื่อที่อยู่ในแอพพลิเคชั่นหรือเข้าถึงผ่านแอพพลิเคชั่น รวมถึงแต่ไม่จำกัดเพียงค่าเสียหายใดๆ ที่เป็นผลมาจากหรือเกี่ยวข้องกับการที่ผู้ใช้เชื่อถือข้อมูลใดที่ได้รับจากแอพพลิเคชั่น หรือจากทางผู้จัด หรือที่เป็นผลมาจากความผิดพลาด การละเว้น การหยุดชะงัก การลบไฟล์หรืออีเมล ข้อผิดพลาด ความบกพร่อง ไวรัส ความล่าช้าในการดำเนินการหรือการส่ง หรือการไม่สามารถปฏิบัติสิ่งใด ไม่ว่าจะเป็นผลมาจากปรากฏการณ์ธรรมชาติ ความล้มเหลวในการสื่อสาร การโจรกรรม การทำลาย หรือการเข้าถึงโดยไม่ได้รับอนุญาต ซึ่งบันทึก โปรแกรม หรือบริการของบริษัท</li>
      </ul>
      <h2>ข้อตกลงรับผิดชดใช้</h2>
      <ul>
        <li>ท่านตกลงคุ้มครอง ชดใช้ และปกป้องบริษัท และผู้บริหาร กรรมการ พนักงาน และตัวแทนของบุคคลดังกล่าว จากการเรียกร้อง ค่าเสียหาย ค่าธรรมเนียม หนี้สินความรับผิดและค่าใช้จ่ายใดๆ (รวมถึงแต่ไม่จำกัดเพียงค่าทนายความตามสมควร) อันเป็นผลมาจากหรือเกี่ยวข้องกับ (1) การใช้แอพพลิเคชั่นของท่าน (2) การละเมิดข้อกำหนดและเงื่อนไขการใช้งานนี้ (3) การละเมิดสิทธิของบุคคลอื่นๆ หรือ (4) การกระทำใดๆของคุณที่เกี่ยวข้องกับแอพพลิเคชั่น</li>
      </ul>
      <h2>ข้อกำหนดเกี่ยวกับสิทธิในทรัพย์สินทางปัญญา</h2>
      <ul>
        <li>เนื้อหาทั้งหมดที่แสดงในแอพพลิเคชั่นอยู่ภายใต้กฎหมายเกี่ยวกับทรัพย์สินทางปัญญาทั้งหมด โดยมีบริษัท หรือ บุคคลที่สามซึ่งอนุญาตให้บริษัทใช้ เป็นเจ้าของทรัพย์สินทางปัญญา ท่านสามารถใช้เนื้อหาเหล่านั้นประกอบการใช้งานแอพพลิเคชั่นเท่านั้น ห้ามมิให้มีการทำซ้ำ เนื้อหาเหล่านั้น เพื่อใช้งานในวัตถุประสงค์อื่นๆ</li>
        <li>บริษัทสงวนสิทธิในทรัพย์สินทางปัญญาทั้งหมดโดยชัดแจ้งในต้นฉบับทั้งหมดของ Daydash ในด้านเนื้อหา สัญลักษณ์ ตัวอักษร กราฟฟิก การออกแบบ และข้อมูลทั้งหมด โดยท่านตกลงไม่ทำซ้ำ ดาวน์โหลด จัดจำหน่าย เผยแพร่ ส่วนหนึ่งส่วนใดของแอพพลิเคชั่น นอกเหนือจากการใช้งานส่วนบุคคล ห้ามลอกเลียน ส่วนหนึ่งส่วนใดของแอพพลิเคชั่นนี้ไม่ว่ารูปแบบใดๆ นอกจากจะได้รับอนุญาตเป็นลายลักษณ์อักษรจากทางบริษัท ทางบริษัทจะไม่รับผิดชอบเกี่ยวกับความผิดพลาดด้านเนื้อหาที่เกิดขึ้น จากการละเมิดลิขสิทธิ์ หรือความเสียหายอันเกิดจากการใช้งานขอผู้ใช้บริการ ในกรณีใดๆ ทั้งสิ้น</li>
        <li>ห้ามมิให้ผู้ใช้บริการอัพโหลด เพื่อทำการเปลี่ยนแปลงแก้ไขข้อมูล หรือส่วนต่างๆบนแอพพลิเคชั่น Daydash โดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจากทางบริษัท ผู้ฝ่าฝืนต้องรับผิดชอบต่อการกระทำดังกล่าวข้อมูล และสารสนเทศต่างๆ ที่เผยแพร่ผ่านทางแอพพลิเคชั่น Daydash ถือเป็นกรรมสิทธิ์ของบริษัท ตลอดไป โดยไม่สามารถเรียกร้องเอาคืนด้วยเหตุผล, ข้อยกเว้น หรือยกข้อกฎหมายใดมากล่าวอ้างได้ โดยบริษัทฯ สามารถทำการใดๆต่อข้อมูล และสารสนเทศดังกล่าวได้ ผู้ใช้บริการยอมรับให้ทางบริษัทฯ มีสิทธิ์ในการแก้ไข, ปรับปรุง, ทำซ้ำ, เผยแพร่, จำหน่าย ข้อมูล และสารสนเทศต่างๆ ที่อยู่บนแอพพลิเคชั่น Daydash ที่เป็นของผู้ใช้บริการได้ </li>
      </ul>
      <h2>การดำเนินการเชื่อมโยงแอพพลิเคชั่น</h2>
      <ul>
        <li>ท่านรับทราบและตกลงอย่างชัดแจ้งว่า ในกรณีที่มีการดำเนินการเชื่อมโยงจากแอพพลิเคชั่นอื่นใดมายังแอพพลิเคชั่น Daydash เพื่อประโยชน์ทางการค้าหรือไม่ บริษัทไม่มีส่วนเกี่ยวข้องกับการเชื่อมโยงแอพพลิเคชั่นดังกล่าว และจะไม่รับผิดชอบต่อความผิดพลาดใดๆ หรือความเสียหาย ซึ่งอาจเกิดขึ้นจากการเข้าใช้งานแอพพลิเคชั่นผ่านทางการเชื่อมโยงผ่านจากแอพพลิเคชั่นอื่น ไม่ว่าในกรณีใดๆ</li>
        <li>แอพพลิเคชั่น Daydash มีจุดเชื่อมโยงข้อมูลไปยังแอพพลิเคชั่นอื่นที่ไม่ได้อยู่ในความดูแลของบริษัท ดังนั้น บริษัทขอปฏิเสธความผิดชอบต่อผลอันใดที่เกิดขึ้นจากข้อมูลหรือกิจกรรมในแอพพลิเคชั่นเหล่านั้นทั้งทางตรงและทางอ้อม</li>
      </ul>
      <h2>การระงับ แก้ไข ปรับเปลี่ยน แอพพลิเคชั่น</h2>
      <ul>
        <li>บริษัทขอสงวนสิทธิในการแก้ไขปรับเปลี่ยนหรือหยุดให้บริการโดยชั่วคราวหรือถาวรซึ่งแอพพลิเคชั่นหรือส่วนหนึ่งส่วนใดของแอพพลิเคชั่นโดยไม่มีการบอกกล่าวล่วงหน้า คุณตกลงและยอมรับว่าบริษัทจะไม่มีความรับผิดจากการแก้ไขปรับเปลี่ยน ระงับ หรือหยุดให้บริการไซต์หรือส่วนหนึ่งส่วนใดของแอพพลิเคชั่น</li>
      </ul>
      <h2>การแยกต่างหากจากกันของข้อสัญญา</h2>
      <ul>
        <li>หากข้อสัญญาใดในข้อตกลงนี้ถือว่าไม่ชอบด้วยกฎหมาย เป็นโมฆะ หรือไม่สามารถบังคับได้ด้วยเหตุใดก็ตาม ข้อสัญญานั้นจะถือว่าแยกออกมาจากข้อตกลงฉบับนี้ และไม่มีผลกระทบต่อความสมบูรณ์และความมีผลใช้บังคับของข้อสัญญาอื่นที่เหลือ</li>
      </ul>
    </div>
  </div>
</div>
