
<%= render partial: "carousel" %>

<div class="container marketing">
  <div class="row">
    <div class="col-sm-12">
      <h1>Events#index</h1>
      <p>Find me in app/views/events/index.html.erb</p>
    </div>
  </div>
  <footer>
    <p class="pull-xs-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
