//Overwrite tag

a {
  color: $main-color;

  &:hover, &:active, &:link, &:visited {
    color: $main-light-color;
  }
}

h1 {
  font-weight: 300;
}

label {
  font-weight: normal;
}

//Overwrite for Bootstrap DatetimePicker

.bootstrap-datetimepicker-widget {
  padding-left: 15px;
  padding-right: 15px;

  th, td {
    cursor: pointer;
    text-align: center;
  }

  .day {
    &.active {
      background-color: $main-color;
      color: white;
    }
  }

  .btn {
    color: $main-color;
  }

  .btn-primary {
    background: $main-color;
    color: white;
    border: 0px;
  }
}

//Icons
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-xs {
  width: 16px;
  height: 16px;
}

.icon-facebook  { background-image: url(../../images/icons/icon-facebook.png); }
.icon-line      { background-image: url(../../images/icons/icon-line.png); }
.icon-instagram { background-image: url(../../images/icons/icon-instagram.png); }
.icon-twitter   { background-image: url(../../images/icons/icon-twitter.png); }

.icon-map-pin   { background-image: url(../../images/icons/icon-map-pin.png); }
.icon-calendar  { background-image: url(../../images/icons/icon-calendar.png); }


//Button
.btn-daydash {
  border-radius: 0px;
  color: #444;

  &:hover, &:active, &:visited, &:link {
    color: black;
  }
}

.btn-daydash-lg {
  padding: 15px;
  font-size: 24px;
}

.btn-daydash-green-1 {
  background: linear-gradient(90deg, #00CFD1 , #00E9CA);
  color: white;
  border: 0px;

  &:hover, &:active, &:visited, &:link {
    background: linear-gradient(90deg, #00CFD1 , #00E9CA);
    color: white;
  }
}

.btn-daydash-green-2 {
  background: #19D4D6;
  color: white;
  border: 0px;

  &:hover, &:active, &:visited, &:link {
    background: #19D4D6;
    color: white;
  }

}

//Event Card

.event.card, .ticket.card {
  display: block;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #eee;
  overflow: hidden;
  text-decoration: none;

  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
    height: 250px;
  }
  .info {
    background-color: #fff;
    color: #444;
    padding: 15px;
    font-size: 16px;

    a {
      color: #444;
    }
  }

  .title {
    margin-bottom: 25px;
    height: 64px;
    font-size: 20px;
  }

  .icon {
    float: left;
    margin-top: 1px;
    margin-right: 5px;
  }
  .meta {
    margin-bottom: 10px;
  }

  &.payment-card {
    .title {
      height: auto;
    }

    .info {
      padding-bottom: 0px;

      .row {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
      }
    }

    .ticket-list {
      .ticket {
        .ticket-price {
          text-align: right;
        }
      }
      .list-footer {
        text-align: right;
      }
    }
  }
}

.card-side-cover {
  margin-bottom: 15px;
  border: 1px solid #eee;

  .cover {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
  }

  .info {
    padding: 15px;
    padding-bottom: 0px;

    .info-body {
      padding-bottom: 15px;
    }

  }

  @media (max-width: 991px) {
    .cover {
      height: 150px;
    }
  }

  @media (min-width: 992px) {
    width: 100%;
    display: table;

    .cover {
      display: table-cell;
      width: 250px;
    }

    .info {
      display: table-cell;
    }
  }
}

//Nav

.nav-daydash {
  margin-bottom: 15px;

  li {
    a, a:visited, a:link, a:active  {
      background: transparent;
      padding-bottom: 2px;
      color: #aaa;

      &:hover {
        color: #444;
      }
    }

    &.active {
      a {
        &, &:hover, &:active, &:link, &:visited {
          border-radius: 0px;
          background: transparent;
          color: #444;
          border-bottom: 3px solid $main-color;
        }
      }
    }
  }
}

.nav-tabs-daydash, .nav-tabs-daydash.nav-justified {
  margin-bottom: 15px;

  li {

    a, a:visited, a:link, a:active  {
      background: transparent;
      color: #aaa;
      border: 0px;
      border-bottom: 3px solid #eee;
    }

    &:hover {
      a, a:hover {
        color: #444;

      }
    }

    &.active {
      &, &:hover {
        a {
          &, &:visited, &:link, &:active {
            border-radius: 0px;
            background: transparent;
            color: #444;
            border: 0px;
            border-bottom: 3px solid $main-color;
          }
        }
      }
    }
  }

  &.nav-tabs-black {
    li {
      &.active {
        &, &:hover {
          a {
            &, &:visited, &:link, &:active {
              border-bottom: 3px solid #444;
            }
          }
        }
      }
    }
  }
}

.list-action-nav {
  li:not(:last-child) {
    &:after {
      content: "|";
      display: inline-block;
      padding-left: 15px;

    }
  }
}
