@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-Regular.ttf); }
@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-Italic.ttf); font-style: italic; }
@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-Bold.ttf); font-weight: 600; } //Bold
@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-BoldItalic.ttf); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-Light.ttf); font-weight: 200; } //Light
@font-face { font-family: 'Kanit'; src: url(../../fonts/Kanit/Kanit-LightItalic.ttf); font-weight: 200; font-style: italic; }

@font-face { font-family: 'Athiti'; src: url(../../fonts/Athiti/Athiti-Regular.ttf); }
@font-face { font-family: 'Athiti'; src: url(../../fonts/Athiti/Athiti-Bold.ttf); font-weight: 600; } //Bold
@font-face { font-family: 'Athiti'; src: url(../../fonts/Athiti/Athiti-Light.ttf); font-weight: 200; } //Light
