#index-page {
	#cover-section {
		.slick {
			margin-bottom: 0px;

			.page-cover {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-color: black;
				height: 400px;

				&:before {
					content: " ";
					display: block;
					position: absolute;
					top: 0px; bottom: 0px; left: 0px; right: 0px;
					background: rgba(0,0,0,0.3);
				}
			}

			.info {
				position: absolute;
				top: 0px; bottom: 0px; left: 0px; right: 0px;

				.caption {
					margin-top: 150px;
					text-align: center;
					color: white;
					text-shadow: 0px 1px rgba(0,0,0,0.3);

					.title {
						font-family: $font-kanit;
						font-size: 48px;
						font-weight: bold;
					}

					.subtitle {
						font-size: 24px;
					}
				}
			}

		}
	}

	#event-section {
		background-color: $bg-color2;
		padding-top: 30px;
		padding-bottom: 30px;

		.event-list {
			padding-top: 15px;

		}
	}
}