//Parameters
$main-color:       #00CFD1;
$main-light-color: #00E9CA;

$trivial-color:     #00a0ff;

$topbar-height: 50px;
$overlay-z-index: 99;
$popup-z-index: 999;

$min-height: 800px;
$sm-width: 768px;
$md-width: 992px;

$font-main: "Athiti", "Helvetica Neue", "sans-serif";
$font-kanit: "Kanit", "Helvetica Neue", "sans-serif";
$font-athiti: "Athiti", "Helvetica Neue", "sans-serif";
$font-sans-serif: sans-serif;

$bg-color: #fff;
$bg-color2: #fcfcfc;

html, body {
	height: 100%;
	font-family: $font-main;
	color: #444;
}

#topbar {
	.navbar {
		margin-bottom: 0px;
	}

	.navbar-brand {
		padding: 10px 15px;
		height: 60px;

		img {
			height: 40px;
		}
	}

	.navbar-nav {
		& > li {
			& > a {
				padding: 20px;
				font-size: 18px;
				font-weight: 200;
			}

			.btn-daydash-green-2 {
			  background: #19D4D6;
			  color: white;
			  border: 0px;

			  &:hover, &:active, &:visited, &:link {
			    background: #19D4D6;
			    color: white;
			  }

			}
		}

		.user-dropdown {
			.user-profile-photo {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-color: #ccc;
			}

			.dropdown-toggle {
				padding: 15px 30px;
			}

			.dropdown-menu {
				min-width: 200px;
				padding: 0px;
				
				li {
					a {
						padding: 15px 20px;
						font-size: 14px;
						font-weight: 200;
						border-bottom: 1px solid #eee;
					}
				}
			}
		}
	}
}

#wrapper {
	position: relative;
	min-height: 100%;
}

#main {
	min-height: $min-height;
	padding-bottom: 550px;

	@media all and (max-width: 991px) {
		padding-bottom: 785px;
	}
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	background-color: #333;
	color: #aaa;
	padding-bottom: 100px;

	.col {
		margin-top: 80px;
	}

	a {
		text-decoration: none;
		color: #aaa;

		&:hover {
			color: white;
		}
	}

	.list-panel {


		.list-title {
			margin-bottom: 25px;
			color: #eee;
			font-size: 16px;
		}

		.list-body {
			li {
				a {
					display: inline-block;
					width: auto;
					padding: 0px;
					font-size: 14px;
					color: #aaa;
					margin-bottom: 5px;

					&:hover, &:active, &:focus, &.active {
						background: transparent;
						color: white;
					}
				}
			}
		}
	}

	.social-list {
		margin-bottom: 15px;

		.list-inline {
			li {
				margin-right: 15px;
			}
		}
	}

	.copyright {
		margin-top: 50px;
		margin-bottom: 5px;
	}

	.cert-list {
		margin-top: 50px;
	}
}

#login-modal {

	.modal-title {
		text-align: center;
	}

	.fb-login {
		margin-bottom: 15px;
		text-align: center;

		img {
			height: 40px;
		}
	}

	.seperator {
		border-top: 1px solid #444;
		margin-top: 25px;
		margin-bottom: 15px;

		.inner {
			margin-top: -16px;
		}

		span {
			display: inline-block;
			padding: 5px 15px;
			background: white;
		}
	}

	.forgot-password {
		margin-top: 15px;
		text-align: center;
	}

	.modal-footer {
		text-align: center;
	}
}

@media (max-width: 991px) {
	#main {
		padding-bottom: 1400px;
	}
}




