#organizer-events-new, #organizer-events-edit {

	.form-section {
		margin-bottom: 30px;
	}

	.ticket-list {
		.ticket:first-child {
			.btn-ticket-delete {
				display: none;
			}
		}
	}

	.image-list {
		.image {
			margin-bottom: 30px;
			height: 150px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #ccc;
		}
	}
}

#organizer-settings-page {
	form {
		.form-group:nth-child(2n+1) {
			clear: left;
		}
	}
}