.profile-page {
	#profile-nav {
		margin-bottom: 15px;
	}

	.current-user-panel {
		.panel-body {
			text-align: center;
		}

		.profile-picture {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin: 30px auto;
		}
	}
}

 #profile-ticket-list-page {
}

#profile-wishlist-page {
	.event-list {
		.event {
			.cover {
				height: 200px;
			}
		}
	}
}

#profile-settings-page {
	form {
		.form-group:nth-child(2n+1) {
			clear: left;
		}
	}
}