
<style type="text/css">
  h1 {
    font-size: 100px;
    font-weight: 500;
    margin-top: 100px;
  }
  p {
    font-size: 24px;
  }
  a.btn-daydash {
    margin: 20px 0px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 style="font-size: 100px; font-weight: 500">ERROR 404</h1>
      <p>Thing you are looking or is not found but..</p>
      <h2>"It OK To Be Lost in the Right Direction"</h2>
      <a href="/" class="btn btn-daydash btn-daydash-green-2 btn-lg">ค้นหากิจกรรมและอีเว้นท์ที่น่าสนใจ</a>
    </div>
  </div>
</div>
