<script>$('body').attr('id', 'organizer-dashboard-page');</script>
<script>$('body').addClass('organizer-page');</script>

<div class="section">
  <div class="container">
    <%= render partial: "organizer/parts/organizer-nav" %>
    <script>$('#organizer-nav #menu-dashboard').addClass('active');</script>

    <div class="row">
      <div class="col-xs-12 col-md-9">
      </div>
    </div>
  </div>
</div>
