a{
  color: #00CFD1;
  &:hover, &:active, &:link, &:visited{
    color: #19D4D6;}}
h1{
  font-weight: 300;}
label{
  font-weight: normal;}
.bootstrap-datetimepicker-widget{
  padding-left: 15px;
  padding-right: 15px;
  th, td{
    cursor: pointer;
    text-align: center;}
  .day.active{
    background-color: #00CFD1;
    color: white;}
  .btn{
    color: #00CFD1;}
  .btn-primary{
    background: #00CFD1;
    color: white;
    border: 0px;}}
.organizer-badge{
  display: inline-block;
  border-radius: 2px;
  padding: 3px 15px;
  background: linear-gradient(90deg, #433B8F, #2F9687);
  color: white;}
.organizer-nav{
  padding: 0px !important;
  margin: 18px 5px 0px;}
.nav-badge{
  font-size: 12px;}
.mobile-only{
  @media (min-width: 992px){
    display: none !important;}}
.mobile-hide{
  @media (max-width: 991px){
    display: none !important;}}
.panel-daydash{
  border-radius: 0px;
  box-shadow: none;
  padding: 30px;
  border: 1px solid #eee;
  background: white;
  .panel-body:not(:last-child){
    border-bottom: 1px solid #eee;}
  @media (max-width: 991px){
    padding: 15px;
	}
}

.text-inline {
  float: left;
  display: inline-block;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.nav-daydash {
  li {
    a {
      &, &:visited, &:link, &:active {
        background: transparent;
        padding-bottom: 8px;
        color: #444;
      }
      &:hover, &:visited:hover, &:link:hover, &:active:hover {
        color: #444;
      }
    }
    &.active a {
      &, &:hover, &:active, &:link, &:visited {
        border-radius: 0px;
        background: transparent;
        color: #444;
        border-bottom: 3px solid #444;
      }
    }
  }
}

.nav-daydash-lg {
  margin-bottom: 15px;
}

.nav-daydash-green{
  li.active{
    a{
      &, &:hover, &:active, &:link, &:visited{
        border-bottom: 2px solid #00CFD1;
      }
    }
  }
}

.nav-tabs-daydash{
  margin-bottom: 15px;
  &.nav-justified{
    margin-bottom: 15px;}
  li a{
    background: transparent;
    color: #aaa;
    border: 0px;
    border-bottom: 3px solid #eee;
    &:visited, &:link, &:active{
      background: transparent;
      color: #aaa;
      border: 0px;
      border-bottom: 3px solid #eee;}}
  &.nav-justified li a{
    background: transparent;
    color: #aaa;
    border: 0px;
    border-bottom: 3px solid #eee;
    &:visited, &:link, &:active{
      background: transparent;
      color: #aaa;
      border: 0px;
      border-bottom: 3px solid #eee;}}
  li:hover a, &.nav-justified li:hover a{
    color: #444;
    &:hover{
      color: #444;}}
  li.active{
    a{
      border-radius: 0px;
      background: transparent;
      color: #444;
      border: 0px;
      border-bottom: 3px solid #00CFD1;
      &:visited, &:link, &:active{
        border-radius: 0px;
        background: transparent;
        color: #444;
        border: 0px;
        border-bottom: 3px solid #00CFD1;}}
    &:hover a{
      border-radius: 0px;
      background: transparent;
      color: #444;
      border: 0px;
      border-bottom: 3px solid #00CFD1;
      &:visited, &:link, &:active{
        border-radius: 0px;
        background: transparent;
        color: #444;
        border: 0px;
        border-bottom: 3px solid #00CFD1;}}}
  &.nav-justified li.active{
    a{
      border-radius: 0px;
      background: transparent;
      color: #444;
      border: 0px;
      border-bottom: 3px solid #00CFD1;
      &:visited, &:link, &:active{
        border-radius: 0px;
        background: transparent;
        color: #444;
        border: 0px;
        border-bottom: 3px solid #00CFD1;}}
    &:hover a{
      border-radius: 0px;
      background: transparent;
      color: #444;
      border: 0px;
      border-bottom: 3px solid #00CFD1;
      &:visited, &:link, &:active{
        border-radius: 0px;
        background: transparent;
        color: #444;
        border: 0px;
        border-bottom: 3px solid #00CFD1;}}}
  &.nav-tabs-black li.active{
    a{
      border-bottom: 3px solid #444;
      &:visited, &:link, &:active{
        border-bottom: 3px solid #444;}}
    &:hover a{
      border-bottom: 3px solid #444;
      &:visited, &:link, &:active{
        border-bottom: 3px solid #444;}}}
  &.nav-justified.nav-tabs-black li.active{
    a{
      border-bottom: 3px solid #444;
      &:visited, &:link, &:active{
        border-bottom: 3px solid #444;}}
    &:hover a{
      border-bottom: 3px solid #444;
      &:visited, &:link, &:active{
        border-bottom: 3px solid #444;
      }
    }
  }
}