<script>$('body').attr('id', 'payment-complete-page');</script>

<div class="section" id="credit-card-inform-section">
  <div class="container">
    <h2>Payment Completed</h2>
    <div>You have bought tickets for <%= link_to @event.title, client_event_path(@event.id) %></div>
    <div>We have sent you all information to your email.</div>
    <br />
    <div>Invite your friend <a href="#">Daydash Referral Program</a></div>
    <div>You'll get THB100 when your friend purchase their first ticket on Daydash <a href="#">read detail</a></div>
  </div>
</div>

<div class="section" id="related-event-section">
  <div class="container">
    <div class="section-header">
      <div class="section-title">Similar Events</div>
    </div>
    <div class="row event-list">
      <% @related_events.each do |event| %>
        <div class="col-sm-6 col-md-4">
          <div class="event card">
            <%= link_to client_event_path(event.id) do %>
              <% if event.galleries.present? %>
                <div class="cover" style="background-image: url(<%= event.galleries.first.try(:media, :thumb) %>);"></div>
              <% else %>
                <div class="cover"></div>
              <% end %>
            <% end %>
            <div class="info">
              <h4 class="title text-left">
                <%= link_to event.title, client_event_path(event.id) %>
              </h4>
              <div class="meta date"><i class="icon icon-xs icon-calendar"></i> วันเสาร์ ที่ 22 สิงหาคม, 8:00 PM</div>
              <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> Thonglor House Club, ซอยทองหล่อ</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
