
$gray-color-3: #333
$gray-color-4: #444
$gray-color-8: #888
$gray-color-a: #aaa
$gray-color-c: #ccc
$gray-color-e: #eee

$green-color: #19D4D6

.btn-daydash
  border-radius: 0px
  color: $gray-color-4
  &:hover, &:active, &:visited, &:link
    color: black

.btn-daydash-md
  padding: 10px 15px
  font-size: 18px

.btn-daydash-lg
  padding: 10px
  font-size: 24px

.btn-daydash-round
  border-radius: 2px

.btn-daydash-inverse
  &, &:active, &:visited, &:link
    background: $gray-color-4
    color: white
    border: 0px

  &:hover
    background: $gray-color-8
    color: white

.btn-daydash-green-1
  background: linear-gradient(90deg, #00CFD1, #00E9CA)
  color: white
  border: 0px
  &:hover, &:active, &:visited, &:link
    background: linear-gradient(90deg, #00CFD1, #00E9CA)
    color: white

.btn-daydash-green-2
  background: $green-color
  color: white
  border: 0px
  &:hover, &:active, &:visited, &:link
    background: $green-color
    color: white

.btn-daydash-pink
  background: linear-gradient(90deg, #DF1E68, #DD2993)
  color: white
  border: 0px
  &:hover, &:active, &:visited, &:link
    background: linear-gradient(90deg, #DF1E68, #DD2993)
    color: white
