@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-Italic.ttf');
  font-style: italic
}

@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-LightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Kanit';
  src: font-url('Kanit/Kanit-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Athiti';
  src: font-url('Athiti/Athiti-Regular.ttf');
}

@font-face {
  font-family: 'Athiti';
  src: font-url('Athiti/Athiti-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Athiti';
  src: font-url('Athiti/Athiti-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Nucleo Outline';
  src: font-url('nucleo-outline.eot');
  src: font-url('nucleo-outline.eot') format('embedded-opentype'),
    font-url('nucleo-outline.woff2') format('woff2'),
    font-url('nucleo-outline.woff') format('woff'),
    font-url('nucleo-outline.ttf') format('truetype'),
    font-url('nucleo-outline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
