form {
  .form-control {
    border-radius: 0;
    background: white;
    border: 1px solid #eee;
    height: 50px;
    box-shadow: none;

    &[type=text] {
      padding: 15px;
    }
  }

  label {
    margin-bottom: 0;
  }

  label.radio {
    padding-top: 15px;
  }
}
