<article class="content forms-page">
  <div class="title-block">
    <h3 class="title">
      Forms
    </h3>
    <p class="title-description"> Sample form elements </p>
  </div>

  <section class="section">
    <div class="row sameheight-container">
      <div class="col-md-12">
        <div class="card card-block sameheight-item">
          <div class="title-block">
            <h3 class="title">
              Underlined Inputs
            </h3>
          </div>
          <form role="form">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">First name</label>
                  <input type="text" class="form-control underlined">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Last name</label>
                  <input type="text" class="form-control underlined">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Gender</label>

                  <select>
                    <option value="F">Option one</option>
                    <option value="M">Option two</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Birthday</label>
                  <input type="text" class="form-control underlined">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Company</label>
                  <input type="text" class="form-control underlined">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Interesting</label>
                  <input type="text" class="form-control underlined">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">URL:</label>
                  <input type="text" class="form-control underlined" placeholder="https://domain.com">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Short description</label>
                  <textarea rows="3" class="form-control underlined"></textarea>
                </div>
              </div>
            </div>

            <!--
            <div class="form-group">
              <label class="control-label">Input Password</label>
              <input type="password" class="form-control underlined">
            </div>
            <div class="form-group">
              <label class="control-label">Placeholder Input</label>
              <input type="text" class="form-control underlined" placeholder="Placeholder text">
            </div>
            <div class="form-group">
              <label class="control-label">Disabled Input</label>
              <input type="text" disabled="disabled" class="form-control underlined" placeholder="Disabled input text">
            </div>
            <div class="form-group">
              <label class="control-label">Static control</label>
              <p class="form-control-static underlined">email@example.com</p>
            </div>
            <div class="form-group">
              <label class="control-label">Readonly Input</label>
              <input type="text" readonly="readonly" class="form-control underlined" value="Readonly input text">
            </div>
            <div class="form-group">
              <label class="control-label">Textarea</label>
              <textarea rows="3" class="form-control underlined"></textarea>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </section>
</article>
