html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  /*font-family: 'Kanit', sans-serif;*/
  font-family: 'Sukhumvit Set', sans-serif;
  font-size: 15px;
  /*font-weight: 200;*/
  line-height: 1.8;
  color: #2A2A2A;
  margin: 0;
}

::selection {
  /* Safari */
  background-color: #0ee970;
  color: #000;
}

::-moz-selection {
  background: #0ee970;
  /* Firefox */
  color: #000;
}

.col-md-3.no-float, .col-md-9.no-float {
  float: none;
  /* thanks baxabbit */
}

.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  color: #3B65DF;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid #efefef;
  &:hover, &:active {
    color: #3B65DF;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #efefef;
  }
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: #A760A1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sukhumvit Set', 'Kanit', sans-serif;
  color: #141414;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

/* Header */

.masthead {
  position: relative;
  width: 100%;
  font-family: 'Kanit', sans-serif;
}

.masthead-brand {
  float: none;
  width: 100%;
  img {
    height: 130px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.masthead-nav {
  float: right;
  padding-right: 1%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #ddd;
  cursor: pointer;
  > li {
    display: inline-block;
    > a {
      font-size: 16px;
      color: #fff;
      color: rgba(255, 255, 255, 0.75);
      border-bottom: 2px solid transparent;
      &:hover, &:active {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.cover-row {
  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }
  position: relative;
  height: 100%;
}

.cover-photo {
  background-position: center;
  background-size: cover;
  z-index: 1;
  opacity: 1;
  height: 100vh;
}

.fullscreen-bg {
  background-color: #fff;
  /* #5F5E5D */
  background-blend-mode: multiply;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.cover-profile {
  padding: 0px 12%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
  * {
    white-space: initial;
    word-wrap: break-word;
  }
  h1 {
    font-size: 30px;
    line-height: 1.3em;
  }
  h2 {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.4em;
  }
  a {
    border-bottom: 1 solid #efefef;
  }
}

/* blog */

.footer {
  position: absolute;
  margin: 0 auto;
  margin-top: 50px;
  bottom: 20px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.social {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    color: #666;
    /*font-weight: bold;*/
    border-bottom: 0px solid #eee;
  }
}

/* mailchim signup */

.signup {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
}

#mc_embed_signup {
  form {
    display: block;
    position: relative;
    text-align: left;
    padding: 0px;
  }
  h2 {
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: 1.4em;
  }
  input {
    &[type=text], &[type=email] {
      border: 0px solid #eee;
      -webkit-appearance: none;
      padding: 0px 20px;
      color: #333;
      background-color: #eee;
      border-radius: 25px;
      height: 50px;
      width: 38%;
      margin-bottom: 10px;
    }
    outline-width: 0;
    &[type=checkbox] {
      -webkit-appearance: checkbox;
    }
    &[type=radio] {
      -webkit-appearance: radio;
    }
  }
  .button {
    background-color: #0ee970;
    border: 0px solid #00cfd1;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    /*float: left;*/
    border-radius: 25px;
    height: 50px;
    width: 20%;
    margin-bottom: 10px;
    /*font-weight: bold;*/
    &:hover {
      background-color: #1df67e;
    }
    &:active {
      margin-top: 2px;
    }
  }
  .noted {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* slick */

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 10px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 991px) {
  .cover-photo {
    height: 400px;
  }
  .cover-profile {
    padding: 0px 10%;
  }
  .masthead-brand img {
    height: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer {
    position: static;
    left: 0px;
    transform: none;
  }
}

@media (min-width: 992px) {
  .left, .right {
    height: 100vh;
  }
  .cover-profile {
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 100%;
  }
}

/* portrait iphones 6plus and down */
@media (max-width: 480px) {
  /* 480px */
  body {
    font-size: 16px;
    line-height: 1.7em;
  }
  .cover-profile {
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 16px;
      line-height: 1.7em;
    }
    padding: 0px 15px;
  }
  .cover-row {
    height: 400px;
  }
  .cover-photo {
    height: 250px;
  }
  .masthead-brand img {
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .signuptop {
    margin-top: 20px;
  }
  #mc_embed_signup {
    input {
      &[type=text], &[type=email] {
        border: 0px solid #eee;
        -webkit-appearance: none;
        padding: 0px 15px;
        color: #333;
        background-color: #eee;
        border-radius: 25px;
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .button {
      background-color: #0ee970;
      border: 0px solid #00cfd1;
      color: #FFF;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      display: inline-block;
      /*float: left;*/
      border-radius: 25px;
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      /*font-weight: bold;*/
    }
  }
}
