<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Portal</title>

    <%#= stylesheet_link_tag    'admin/managing', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin/managing', 'data-turbolinks-track' => true %>

  </head>
  <body>
  </body>
</html>
