<!DOCTYPE html>
<html
   lang="en-US"
   xmlns:fb="http://ogp.me/ns/fb#" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js">
   <head>
      <link
         rel="stylesheet" type="text/css" href="http://daydash.co/blog/wp-content/cache/minify/000000/b898c/default.include.edbeec.css" media="all" />
      <script type="text/javascript" src="http://daydash.co/blog/wp-content/cache/minify/000000/b898c/default.include.a434ac.js"></script>
      <meta
         charset="UTF-8">
      <meta
         name="viewport" content="width=device-width, initial-scale=1">
      <link
         rel="profile" href="http://gmpg.org/xfn/11">
      <link
         rel="pingback" href="http://daydash.co/blog/xmlrpc.php">
      <link
         href="http://daydash.co/blog/wp-content/themes/shoreditch/package/bootstrap.min.css" rel="stylesheet">
      <link
         rel="stylesheet" href="http://daydash.co/blog/wp-content/themes/shoreditch/package/slick/slick.css">
      <link
         rel="stylesheet" href="http://daydash.co/blog/wp-content/themes/shoreditch/package/slick/slick-theme.css">
      <title>Daydash.co รวมกิจกรรม อีเว้นท์ ประสบการณ์ สำหรับคนกรุงเทพ</title>
      <meta
         name="description" content="Daydash คือแอพฯ ที่ช่วยให้คุณค้นพบกิจกรรม และอีเว้นท์เจ๋งๆ ที่ตรงกับไลฟ์สไตล์ของคุณ ร่วมค้นหาประสบการณ์ใหม่ๆ กับเราได้ก่อนใคร"/>
      <meta
         name="robots" content="noodp"/>
      <link
         rel="canonical" href="http://daydash.co/" />
      <meta
         property="og:locale" content="en_US" />
      <meta
         property="og:type" content="website" />
      <meta
         property="og:title" content="Daydash.co รวมกิจกรรม อีเว้นท์ ประสบการณ์ สำหรับคนกรุงเทพ" />
      <meta
         property="og:description" content="event app, bangkok event, activity, acitivity app, acitivity app bangkok, event app bangkok, อีเว้นท์ กรุงเทพ, กิจกรรมวันหยุด, กิจกรรมวันว่าง, รวมอีเว้นท์ กรุงเทพ, รวมกิจกรรม" />
      <meta
         property="og:url" content="http://daydash.co/" />
      <meta
         property="og:site_name" content="Daydash" />
      <meta
         property="fb:app_id" content="1550014701968053" />
      <meta
         property="og:image" content="http://daydash.co/blog/wp-content/uploads/2016/05/fb-ogimage-3.jpg" />
      <meta
         name="twitter:card" content="summary_large_image" />
      <meta
         name="twitter:description" content="Daydash คือแอพฯ ที่ช่วยให้คุณค้นพบกิจกรรม และอีเว้นท์เจ๋งๆ ที่ตรงกับไลฟ์สไตล์ของคุณ ร่วมค้นหาประสบการณ์ใหม่ๆ กับเราได้ก่อนใคร" />
      <meta
         name="twitter:title" content="Daydash.co รวมกิจกรรม อีเว้นท์ ประสบการณ์ สำหรับคนกรุงเทพ" />
      <meta
         name="twitter:site" content="@daydashapp" />
      <meta
         name="twitter:image" content="http://daydash.co/blog/wp-content/uploads/2016/05/fb-ogimage-3.jpg" />
      <meta
         name="twitter:creator" content="@daydashapp" />
      <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/daydash.co\/","name":"Daydash","potentialAction":{"@type":"SearchAction","target":"http:\/\/daydash.co\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script><script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/daydash.co\/","sameAs":["http:\/\/www.facebook.com\/daydashapp","http:\/\/www.instagram.com\/daydashapp","https:\/\/twitter.com\/daydashapp"],"name":"Daydash.co","logo":"http:\/\/daydash.co\/blog\/wp-content\/uploads\/2016\/05\/daydash-logo-4.png"}</script>
      <link
         rel="alternate" type="application/rss+xml" title="Daydash &raquo; Feed" href="http://daydash.co/feed/" />
      <script type="text/javascript">/*<![CDATA[*/window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/daydash.co\/blog\/wp-includes\/js\/wp-emoji-release.min.js?ver=76db7fcebfe2a8ab0d68019f63e1bae5"}};!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);/*]]>*/</script>
      <style type="text/css">img.wp-smiley,img.emoji{display:inline !important;border:none !important;box-shadow:none !important;height:1em !important;width:1em !important;margin:0
         .07em !important;vertical-align:-0.1em !important;background:none !important;padding:0
         !important}
      </style>
      <link
         rel='stylesheet' id='yarppWidgetCss-css'  href='http://daydash.co/blog/wp-content/plugins/yet-another-related-posts-plugin/style/widget.css?ver=76db7fcebfe2a8ab0d68019f63e1bae5' type='text/css' media='all' />
      <link
         rel='stylesheet' id='advanced-responsive-video-embedder-css'  href='http://daydash.co/blog/wp-content/plugins/advanced-responsive-video-embedder/public/advanced-responsive-video-embedder-public.css?ver=6.4.1' type='text/css' media='all' />
      <link
         rel='stylesheet' id='genericons-css'  href='http://daydash.co/blog/wp-content/themes/shoreditch/genericons/genericons.css?ver=3.4.1' type='text/css' media='all' />
      <link
         rel='stylesheet' id='shoreditch-fonts-css'  href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic%7CInconsolata%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
      <link
         rel='stylesheet' id='shoreditch-style-css'  href='http://daydash.co/blog/wp-content/themes/shoreditch/style.css?ver=76db7fcebfe2a8ab0d68019f63e1bae5' type='text/css' media='all' />
      <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');__gaTracker('create','UA-75805130-1','auto');__gaTracker('set','forceSSL',true);__gaTracker('require','displayfeatures');__gaTracker('send','pageview');</script><script type='text/javascript' src='http://daydash.co/blog/wp-includes/js/jquery/jquery.js?ver=1.12.3'></script><script type='text/javascript' src='http://daydash.co/blog/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.0'></script>
      <link
         rel='https://api.w.org/' href='http://daydash.co/wp-json/' />
      <link
         rel="EditURI" type="application/rsd+xml" title="RSD" href="http://daydash.co/blog/xmlrpc.php?rsd" />
      <link
         rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://daydash.co/blog/wp-includes/wlwmanifest.xml" />
      <link
         rel='shortlink' href='http://daydash.co/' />
      <link
         rel="alternate" type="application/json+oembed" href="http://daydash.co/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdaydash.co%2F" />
      <link
         rel="alternate" type="text/xml+oembed" href="http://daydash.co/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdaydash.co%2F&#038;format=xml" />
      <meta
         property="fb:app_id" content="1550014701968053"/>
      <meta
         property="fb:admins" content="520327609"/>
      <script data-cfasync="false" src="//load.sumome.com/" data-sumo-site-id="ee0685c5118c1d26a739d2230196d835ba131e391258ada46184bcf1a199e9fc" async></script><script type="text/javascript">/*<![CDATA[*/(function(url){if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){return;}
         var addEvent=function(evt,handler){if(window.addEventListener){document.addEventListener(evt,handler,false);}else if(window.attachEvent){document.attachEvent('on'+evt,handler);}};var removeEvent=function(evt,handler){if(window.removeEventListener){document.removeEventListener(evt,handler,false);}else if(window.detachEvent){document.detachEvent('on'+evt,handler);}};var evts='contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');var logHuman=function(){var wfscr=document.createElement('script');wfscr.type='text/javascript';wfscr.async=true;wfscr.src=url+'&r='+Math.random();(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);for(var i=0;i<evts.length;i++){removeEvent(evts[i],logHuman);}};for(var i=0;i<evts.length;i++){addEvent(evts[i],logHuman);}})('//daydash.co/?wordfence_logHuman=1&hid=EAC6A1FF1AD4F46A3551FD234D8D6F7A');/*]]>*/
      </script>
      <link
         rel="apple-touch-icon" sizes="57x57" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-57x57.png">
      <link
         rel="apple-touch-icon" sizes="60x60" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-60x60.png">
      <link
         rel="apple-touch-icon" sizes="72x72" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-72x72.png">
      <link
         rel="apple-touch-icon" sizes="76x76" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-76x76.png">
      <link
         rel="apple-touch-icon" sizes="114x114" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-114x114.png">
      <link
         rel="apple-touch-icon" sizes="120x120" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-120x120.png">
      <link
         rel="apple-touch-icon" sizes="144x144" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-144x144.png">
      <link
         rel="apple-touch-icon" sizes="152x152" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-152x152.png">
      <link
         rel="apple-touch-icon" sizes="180x180" href="/blog/wp-content/uploads/fbrfg/apple-touch-icon-180x180.png">
      <link
         rel="icon" type="image/png" href="/blog/wp-content/uploads/fbrfg/favicon-32x32.png" sizes="32x32">
      <link
         rel="icon" type="image/png" href="/blog/wp-content/uploads/fbrfg/favicon-194x194.png" sizes="194x194">
      <link
         rel="icon" type="image/png" href="/blog/wp-content/uploads/fbrfg/favicon-96x96.png" sizes="96x96">
      <link
         rel="icon" type="image/png" href="/blog/wp-content/uploads/fbrfg/android-chrome-192x192.png" sizes="192x192">
      <link
         rel="icon" type="image/png" href="/blog/wp-content/uploads/fbrfg/favicon-16x16.png" sizes="16x16">
      <link
         rel="manifest" href="/blog/wp-content/uploads/fbrfg/manifest.json">
      <link
         rel="mask-icon" href="/blog/wp-content/uploads/fbrfg/safari-pinned-tab.svg" color="#00cfd1">
      <link
         rel="shortcut icon" href="/blog/wp-content/uploads/fbrfg/favicon.ico">
      <meta
         name="apple-mobile-web-app-title" content="Daydash">
      <meta
         name="application-name" content="Daydash">
      <meta
         name="msapplication-TileColor" content="#da532c">
      <meta
         name="msapplication-TileImage" content="/blog/wp-content/uploads/fbrfg/mstile-144x144.png">
      <meta
         name="msapplication-config" content="/blog/wp-content/uploads/fbrfg/browserconfig.xml">
      <meta
         name="theme-color" content="#ffffff">
      <style type="text/css">.broken_link,a.broken_link{text-decoration:line-through}</style>
      <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-75805130-1','auto');ga('send','pageview');</script>
      <link
         href="http://daydash.co/blog/wp-content/themes/shoreditch/package/landing.css" rel="stylesheet">
   </head>
   <body
      class="home page page-id-36 page-template page-template-landing-page page-template-landing-page-php">
      <div
         id="fb-root"></div>
      <script>/*<![CDATA[*/(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=118382144932801";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));/*]]>*/</script>
      <div
         class="wrapper">
      <div
         class="main">
         <div
            class="container-fluid">
            <div
               class="row">
               <div
                  class="col-xs-12 col-md-6 left">
                  <div
                     class="slick">
                     <div>
                        <div
                           class="cover-photo" style="background-image: url('http://daydash.co/blog/wp-content/themes/shoreditch/img/dash-screen-2.jpg');"></div>
                     </div>
                  </div>
               </div>
               <div
                  class="col-xs-12 col-md-6 right">
                  <div
                     class="cover-profile">
                     <div
                        class="masthead-brand"> <img
                        src="http://daydash.co/blog/wp-content/themes/shoreditch/img/daydash-logo-dark.png" alt="Daydash"></div>
                     <h1>เพราะเราเชื่อว่า ชีวิตไม่ได้มีแค่ด้านเดียว</h1>
                     <h2> เตรียมพบกับ Daydash แอพฯ ที่ช่วยให้คุณค้นพบกิจกรรม และอีเว้นท์เจ๋งๆ ที่ตรงกับไลฟ์สไตล์ของคุณ ร่วมค้นหาประสบการณ์ใหม่ๆ กับเราได้ก่อนใคร เพียงกรอกอีเมลด้านล่าง</h2>
                     <div
                        class="signup signuptop">
                        <div
                           id="mc_embed_signup">
                           <form
                              action="//daydash.us13.list-manage.com/subscribe/post?u=17a658be2948b8e8af797778c&amp;id=28a8c4f0fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                              <div
                                 id="mc_embed_signup_scroll">
                                 <div
                                    class="mc-field-group"> <input
                                    type="text" value="" placeholder="Your Name" name="FNAME" class="" id="mce-FNAME"> <input
                                    type="email" value="" placeholder="Your Email" name="EMAIL" class="required email" id="mce-EMAIL"> <input
                                    type="submit" value="Let's Go!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                 <div
                                    id="mce-responses" class="clear">
                                    <div
                                       class="response" id="mce-error-response" style="display:none"></div>
                                    <div
                                       class="response" id="mce-success-response" style="display:none"></div>
                                 </div>
                                 <div
                                    style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                    type="text" name="b_17a658be2948b8e8af797778c_28a8c4f0fb" tabindex="-1" value=""></div>
                                 <input
                                    type="hidden" name="form-location" value="1">
                              </div>
                           </form>
                        </div>
                     </div>
                     <div
                        class="footer">
                        <div
                           class="blog"> <strong>อ่าน Blog → </strong><a
                           href="http://daydash.co/blog/weekend-activities-for-couple-in-bangkok/" target="_blank" title="5 กิจกรรมสนุกๆ สำหรับคู่รัก แล้ววันเดทจะไม่น่าเบื่ออีกต่อไป">5 กิจกรรมวันหยุดสนุกๆ ที่คู่รักน่าชวนกันไปทำ</a></div>
                        <div
                           class="social"> Follow us: <a
                           href="https://www.facebook.com/daydashapp/" target="_blank" title="@DaydashApp"><img
                           src="http://daydash.co/blog/wp-content/themes/shoreditch/img/icon-fb.png" width="30" alt="Facebook: Daydash"></a> <a
                           href="https://www.instagram.com/daydashapp/" target="_blank" title="@DaydashApp"><img
                           src="http://daydash.co/blog/wp-content/themes/shoreditch/img/icon-ig.png" width="30" alt="Instagram: IG"></a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="http://daydash.co/blog/wp-content/themes/shoreditch/package/jquery-2.2.4.min.js"></script><script type="text/javascript" src="http://daydash.co/blog/wp-content/themes/shoreditch/package/slick/slick.js"></script><script>$('.slick').slick({autoplay:true,autoplaySpeed:3000,infinite:true,dots:true,infinite:true,speed:400,fade:true,cssEase:'linear',responsive:[{breakpoint:1024,settings:{slidesToShow:1,slidesToScroll:1,infinite:true,dots:true}},{breakpoint:600,settings:{slidesToShow:1,slidesToScroll:1}},{breakpoint:480,settings:{slidesToShow:1,slidesToScroll:1}}]});</script><script type='text/javascript'>var buttonTitle={"desc":"Back to top"};</script><script type='text/javascript' src='http://daydash.co/blog/wp-content/themes/shoreditch/js/back-top.js?ver=20120206'></script><script type='text/javascript' src='http://daydash.co/blog/wp-content/themes/shoreditch/js/skip-link-focus-fix.js?ver=20130115'></script><script type='text/javascript'>var screenReaderText={"expand":"expand child menu","collapse":"collapse child menu"};</script><script type='text/javascript' src='http://daydash.co/blog/wp-content/themes/shoreditch/js/navigation.js?ver=20151231'></script><script type='text/javascript' src='http://daydash.co/blog/wp-includes/js/wp-embed.min.js?ver=76db7fcebfe2a8ab0d68019f63e1bae5'></script>
   </body>
</html>
