<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daydash.co</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'webpack-bundle' %>

  </head>
  <body>
    <h1>Hello ReactJS</h1>
    <%= react_component("App", props: @hello_world_props, prerender: false) %>
  </body>
</html>
